<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.example.appointment">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="如约"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design.Light.NoActionBar"> //隐藏标题栏

        <activity android:name=".With_Me.MainActivity"> //主界面
        </activity>

        <activity android:name=".StartUp"> //启动界面
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>